#infovis {
    position: relative;
    width: 1000px;
    height: 500px;
    margin: auto;
    overflow: hidden;
}

.infovis-container{
    background-color:#1a1a1a;
    color:#ccc;
}

.encoded-message {
    font-size: 20px;
}

.highlight-step {
    color:green; 
    font-weight:bold; 
    background-color:rgb(153, 202, 143);
    border-radius: 4px;
    padding: 2px;
}

.decoded-message{
    font-size:30px;
    /* color: rgb(133, 48, 63); */
    color: rgb(78, 23, 114);
}

.input-message{
    font-size: 20px;
    color: rgb(78, 23, 114)
}
